{date:YYYY-MM-DD}

This is a really exciting news entry!

Leave a blank line between paragraphs, and wrap
each line at about 50 characters.

If you ever need to use actual curly braces, just
use {{ and }}.

{author:demo}
