*.class

# Local configuration files
conf/*_local.conf
conf/eathena-monitor.conf
conf/gm_account.txt
conf/help.txt
conf/magic.conf
conf/motd.txt
conf/spells-build.sh

# Build files
eathena-monitor

# Copied/linked server executables
char-server
login-server
map-server

# Tools executables
tools/retab

# Server files
log/
gm.log.*
online.*
save/*.tmp
save/*.txt

