# Server files
log/
gm.log.*
online.*
/converter.txt
*-server
athena-start
mapcache
plugins/
script-checker
world/map/db/item_db.txt
world/map/db/mob_db.txt
*.pid
conf/inter-server.conf
conf/login-server.conf
conf/monitor_local.conf
conf/char-server.conf
conf/map-server.conf
conf/import/inter_conf.txt
sql-files/init.sql
db/re/map_cache.dat
conf/maps.conf
db/map_index.txt
