Ali-G <gauvain.dauchy@free.fr> ali-g <gauvain.dauchy@free.fr>
Ali-G <gauvain.dauchy@free.fr> Ali-G <gauvain@devil.(none)>
Bjørn Lindeijer <bjorn@lindeijer.nl> Thorbjørn Lindeijer <thorbjorn@lindeijer.nl>
Bjørn Lindeijer <bjorn@lindeijer.nl> Thorbjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Chuck Miller <shadowmil@gmail.com> Charles Miller <shadowmil@gmail.com>
Coffee <coffee@coffee-EP45-UD3L.(none)> coffee <coffee@coffee-EP45-UD3L.(none)>
Coffee <coffee@coffee-EP45-UD3L.(none)> Coffee <coffee@coffee-ep45-ud3l.(none)>
Darky <dark_mage.87@mail.ru> Dark_Mage <dark_mage.87@mail.ru>
Darky <dark_mage.87@mail.ru> Darky <developer@Pirat.(none)>
Darky <dark_mage.87@mail.ru> Darky <rf_online@mail.ru>
Darky <dark_mage.87@mail.ru> Developer <developer@Pirat.(none)>
Dennis Friis <peavey@inspircd.org> Dennis Friis <peavey@placid.dk>
Dennis Friis <peavey@inspircd.org> peavey <peavey@inspircd.org>
Enchilado <crunchy@crunchy-Satellite-L300.(none)> crunchy <crunchy@crunchy-Satellite-L300.(none)>
Enchilado <crunchy@crunchy-Satellite-L300.(none)> Enchilado <crunchy@crunchy-satellite-l300.(none)>
Enchilado <crunchy@crunchy-Satellite-L300.(none)> Enchilado <pheonixvania@gmail.com>
Enchilado <crunchy@crunchy-Satellite-L300.(none)> enchilado <www.e.sayers@gmail.com>
Fate <fate-tmw@googlemail.com> Fate <fate@kino.cs.colorado.edu>
Fate <fate-tmw@googlemail.com> Fate <fate.tmw@googlemail.com>
Freeyorp <Freeyorp101@hotmail.com> Freeyorp <freeyorp101@hotmail.com>
Freeyorp <Freeyorp101@hotmail.com> Freeyorp <Freeyorp101@NOSPAM@hotmail.com>
Jarrett Thomas-Huxley <fotherjarrett@gmail.com> fother <fotherjarrett@gmail.com>
Jessica Tölke <jtoelke@mail.upb.de> jtoelke <jtoelke@gmx.de>
Joseph Greene <fluffyanddeadly999@gmail.com> Pihro <fluffyanddeadly999@gmail.com>
meways <mewaysID@yahoo.com> Meway <meway@meway.dyndns.org>
meways <mewaysID@yahoo.com> meways <mewaysid@yahoo.com>
remoitnane <remoit(DOT)nane(AT)gmail(DOT)com> No Name <remoit(DOT)nane(AT)gmail(DOT)com>
remoitnane <remoit(DOT)nane(AT)gmail(DOT)com> remoitnane <remoit(dot)nane(at)gmail(dot)com>
Stefan Dombrowski <stefan@uni-bonn.de> Stefan Dombrowski <sdo451@gmail.com>
Wombat <hpwombat@yahoo.com> brokendoor <brokendoor@brokendoor-desktop.(none)>
