// Constants usable in scripts.

// This constant is used to define whether unreleased items are equippable.
// This defaults to 1, but should be disabled on the official server.
// If set to 2 or higher, it also disables global timers to aid gdb'ing.
debug            1
