-|script|GM|32767
{
    end;

OnInit:
    // command permissions here
    set .zeny, G_ADMIN;
    set .charzeny, G_SYSOP;
    set .debug, G_ADMIN;
    set .changesex, G_DEV;
    set .charchangesex, G_GM;
    set .class, G_DEV;
    set .charclass, G_EVENT;

    // special permissions below
    set .lounge, G_TESTER; // level to enter the GM Lounge & talk to Numa
    set .killthegm, G_EVENT; // this is both for the event and the magic gm top hat
    set .holiday, G_DEV; // holiday debug (xmas, halloween, ...)
    set .event, G_EVENT; // event debug (open portals, disguise, ...)
    set .scheduled, G_DEV; // scheduled broadcasts (schedule broadcast, stop broadcast, trigger broadcast, ...)
    set .motd, G_DEV; // motd debug (show/hide motd)

    // very specific debug menus
    set .valia, G_DEV; // illia quest debug info

    end;
}
