// Athena Ladmin local configuration file.
 
// Login Server IP
login_ip:217.172.177.27
// Login Server Port
login_port: 6900

// Administrative password, used to connect remotely to server.
// NOTICE: If you enable remote administration, you should change its value for security
admin_pass: admin
