// Athena Ladmin local configuration file.

// Login Server IP
login_ip: 127.0.0.1
// Login Server Port
login_port: 6901

// Administrative password, used to connect remotely to server.
// NOTICE: You should change its value for security.
// This is also in login_local.conf
admin_pass: admin
