// Athena Login Server local configuration file.
 
// Port to bind Login Server to (always binds to all IP addresses)
login_port: 6901

// Whether remote administration is enabled or disabled (1 for enabled, 0 for disabled)
admin_state: 1

// Administrative password, used by ladmin (perl software) to connect remotely to server.
// NOTICE: If you enable remote administration, you should change its value for security
admin_pass: p1

// Indicate the IP that the server accepts for remote administration.
// put: 'all', or 'xxx.xxx.' (begin of an ip finished by '.' or a complete ip),
//      or a network and its mask (example: '123.456.789.012/24' or '123.456.789.012/255.255.255.0')
//      or 'clear' to suppress previous parameter (use it in import file mainly)
// Add as many IP's as you wish.
ladminallowip: all

// Gamemaster password, used with the @gm command to obtain GM commands (level of gm set with level_new_gm parameter).
// NOTICE: You should also change this one.
gm_pass: gm

// Update host
// Tells the client that an alternative updatehost is available if the client
// supports this. If left out nothing will be sent. max length 127.
update_host: http://updates.themanaworld.org/
