// For IPs, ideally under linux, you want to use localhost instead of 127.0.0.1 
// Under windows, you want to use 127.0.0.1.  If you see a message like
// "Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)"
// and you have localhost, switch it to 127.0.0.1

// Global SQL settings
// overridden by local settings when the hostname is defined there
// (currently only the login-server reads/obeys these settings)
sql.db_hostname: 127.0.0.1
sql.db_port: 3306
sql.db_username: <DB_USER>
sql.db_password: <DB_PASSWORD>
sql.db_database: <DB_NAME>
sql.codepage:

// MySQL Character SQL server
char_server_ip: 127.0.0.1
char_server_port: 3306
char_server_id: <DB_USER>
char_server_pw: <DB_PASSWORD>
char_server_db: <DB_NAME>

// MySQL Map SQL Server
map_server_ip: 127.0.0.1
map_server_port: 3306
map_server_id: <DB_USER>
map_server_pw: <DB_PASSWORD>
map_server_db: <DB_NAME>

// MySQL Log SQL Database
log_db_ip: 127.0.0.1
log_db_port: 3306
log_db_id: <DB_USER>
log_db_pw: <DB_PASSWORD>
log_db_db: <DB_NAME>
log_codepage:
