CREATE DATABASE <DB_NAME>;
CREATE USER '<DB_USER>'@'localhost' IDENTIFIED BY '<DB_PASSWORD>';
GRANT ALTER,CREATE,SELECT,INSERT,UPDATE,DELETE,DROP,INDEX ON `<DB_NAME>`.* TO '<DB_USER>'@'localhost';
FLUSH PRIVILEGES;
