// Athena Character local configuration file.

// Server Communication username and password.
userid: s1
passwd: p1

// Server name, no more than 19 characters
server_name: The Mana World

// Wisp name for server: used to send wisp from server to players (between 4 to 23 characters)
wisp_server_name: Server

// Login Server IP
login_ip:81.161.192.4
// Login Server Port
login_port: 6901

// Character Server IP
char_ip:81.161.192.4
// Character Server Port
char_port: 6122

