function|script|MOTD
{
    setarray $@MOTD$,

        "Welcome to The Mana World! (running on tmwAthena)",
        "[@@http://ow.ly/MCesp|Website & Wiki@@] [@@https://goo.gl/fC4YcM|Bug Reports@@] [@@https://goo.gl/z6YDDp|Live Support@@]",
        "You can report abuse by typing in chat: @wgm Player XYZ is abusing me";

    return;
}
