function|script|MOTD
{
    setarray $@MOTD$,

        "Welcome to The Mana World! (running on tmwAthena)",
        "[@@http://ow.ly/MCesp|Website & Wiki@@] [@@http://ow.ly/MCeBR|Vote For GMs@@] [@@http://ow.ly/MCehc|Bug Reports@@] [@@http://ow.ly/MCe5W|Live Support@@]",
        "Like us on [@@http://ow.ly/MCdZW|Facebook@@] [@@http://ow.ly/MCdTt|G+@@] [@@http://ow.ly/MCdJR|Youtube@@] [@@http://ow.ly/MCePp|Twitter@@]",
        "You can report abuse by typing in chat: @wgm Player XYZ is abusing me";

    return;
}
