// Athena InterServer local configuration file.

// Storage flatfile database, used for Karfa storage.
storage_txt: save/storage.txt

// Party flatfile database, for party names, members and other party info.
party_txt: save/party.txt

// Account registration flatfile database.
accreg_txt: save/accreg.txt

