// Athena atcommand Local Configuration file.

// Command to become a GM. Only players who are not a GM can use this.
// In addition to changing this to 0, you must also:
//  - set level_new_gm in login_athena.conf to something other than 0
//  - set atcommand_gm_only to false in battle_athena.conf
//  - give the correct password (gm_pass in login_athena.conf)
gm: 100
