// Athena atcommand Local Configuration file.

// Set here the symbol that you want to use for your commands
// Only 1 character is get (default is '@'). You can set any character,
// except control-character (0x00-0x1f), '%' (party chat speaking) and '/' (standard ragnarok GM commands)
// With default character, all commands begin by a '@': <example> @revive
command_symbol: @


// 0: normal player commands

// Displays helpfile in Athena base directory.
help: 0

// Give server time. (6 same commands)
time: 0
date: 0
server_date: 0
serverdate: 0
server_time: 0
servertime: 0

// To change your (own) email (characters protection)
// note: this command doesn't check email itself, but check structure of the email (xxx@xxx)
//       if you want be sure of each e-mail disable this option (value: 100)
email: 0

// To become GM (need password; password is set in login_athena.conf).
// special!: only a non-GM (player with gm level 0) need to have this command.
//           if you change the value, be sure of what you do!
// To be able to create a gm with @gm, you must:
// - give a level to level_new_gm (parameter of login_athena.conf) (not 0)
// - enable to level 0 the @gm command (atcommand_athena.conf) (default 100) - Only level 0 can give access to this command
// - enable gm commands to normal player (battle_athena.conf, atcommand_gm_only parameter)
// - and normal player must give correct password when he use the @gm command (gm_pass paramter in login_athena.conf)
gm: 100


//-------------------------
// 40: "Dev"

// Broadcast to all map-servers.
broadcast: 40

// Broadcast to the current map-server.
// (Note: TMW currently only uses one map server)
local_broadcast: 40

// Instantly kills the invoker, regardless of current health.
die: 40

// Locate someone on a map, returns your coordinates if the person isn't on.
where: 40

// Warp the invoker to set points in major cities.
go: 40

// Warp yourself to a person.
goto: 40

// Cause the invoker to follow a specified character, including warps. (Disabled)
follow: 40

// Disconnects a user from the server.
kick: 40

// Returns list of logged in characters with their position.
who: 40

// Returns list of logged in characters with their party/guild.
whogroup: 40

// Returns list of logged in characters with their position in a specified map.
whomap: 40

// Returns list of logged in characters with their party/guild in a specified map.
whomapgroup: 40

// Like @who, but only lists GM characters.
whogm: 40

// Send information to the invoker about the specified character's stats.
charstats: 40

// Heals the invoker to full HP/SP, regardless of previous health.
heal: 40

// Hides the invoker from monsters and most reporting functions.
// Will not cause the invoker to be hidden from other clients in visual range.
hide: 40

// Enables you to to jump randomly on a map (where you already are).
jump: 40

// Warp the invoker to his last save point.
return: 40

// Warp the invoker to a certain map, at (x,y) coordinates.
warp: 40

// Change the GM clothes color, 2 same commands. (Disabled)
dye: 40
ccolor: 40

// Alters the invokers hair style to the specified ID.
hairstyle: 40

// Alters the invokers hair color to the specified ID.
haircolor: 40

// Deletes all your items.
itemreset: 40

// Sets the invokers soawn/save/home point. Defaults to the current location if no coordinates are specified.
save: 40

// No effect. The sole purpose of this command is for it, and all arguments, to be implicity logged along with all arguments.
// This and/or @t should be used to log rationale for any uncommon use of the commands.
log: 40
l: 40

// Sends a message normally, as if it had not been preceded with @t. This serves when issuing official warnings.
// This and/or @l should be used to log rationale for any uncommon use of the commands.
tee: 40
t: 40

//--------------------
// 50: Event coordinators

// Causes the invoker to become invisible to other clients.
// No other effect is taken, for instance aggressive mobs may still attack the invoker.
invisible: 50

// Removes any invisible status set by the above command and immediately announces the invokers presence to all clients in range.
visible: 50

// Spawns the specified monster in the specified amount, or one monster if no amount specified.
// These monsters act as if spawned normally but without any attached scripts on their death, such as monster points.
spawn: 50

// Summons a specified monster in the specified amount, or one monster if no amount is specified.
// These monsters act as if spawned normally but without any attached scripts on their death, such as monster points.
summon: 50

//--------------------
// 60: "GM"

// Enable all whispers for a player.
// Not used by TMW, which has client-side ignore lists
inall: 60

// Disable all whispers for a player.
// Not used by TMW, which has client-side ignore lists
exall: 60

// Returns stats of all characters connected to the map server.
charstatsall: 60

// Turns PvP off on a map.
pvpoff: 60

// Enables PvP on a map.
pvpon: 60

// Sets the speed you can walk/attack at. Default is 150.
speed: 60

// Kill all monsters in map (with drops).
killmonster: 60

// Kill all monsters in map (without drops).
killmonster2: 60

// Check which characters are online from a characters IP address.
ipcheck: 60

// Store all the invokers items.
storeall: 60

// Allow other players to hit the invoker out of PvP.
killable: 60

// Look up a skill by name.
skillid: 60

// Use a skill by ID.
useskill: 60

// Make another player killable.
charkillable: 60

// Resurrects yourself.
alive: 60

// Alters the invokers base level by the specified delta.
blvl: 60

// Alters the invokers job level by the specified delta.
jlvl: 60

// A command that removes the NOCHAT status effect from a specified character if active.
// As there is currently no way for this status effect to be set, this has no use.
unmute: 60

// Alters the specified characters base level by the specified delta.
charblvl: 60

// Change the sex of an online player, including all characters on the account.
charchangesex: 60

// Remove items from a character.
chardelitem: 60

// Alters the specified characters job level by the specified delta.
charjlvl: 60

// Give to another character status points.
charstpoint: 60

// Give to another character skill points.
charskpoint: 60

// Resets another character's stats.
charreset: 60

// Resets another character's status.
charstreset: 60

// Resets another character's skills.
charskreset: 60

// Resets a character back to when it was first created.
charwipe: 60

// Saves the respawn point of another character.
charsave: 60

// Kill another character without hitting them.
kill: 60

// Enable hitting a player even when not in PvP.
killer: 60

// Warp a character to the invoker.
recall: 60

// Revives a character and heals them.
revive: 60

// Warp another person to a certain map, at (x,y) coordinates.
charwarp: 60

// Change the stats of the invoker's character.
str: 60
agi: 60
vit: 60
int: 60
dex: 60
luk: 60

// Get all skills.
allskills: 60

// Set GM stats to maximum.
allstats: 60

// Give to the invoker job points of the desired amount.
stpoint: 60

// Give to the invoker skill points of the desired amount.
skpoint: 60

// Blocks ab account with no expiry date.
block: 60

// Removes any block on an account.
unblock: 60

// Bans an account for the specified time, or adjusts an existing ban by the specified delta.
ban: 60

// Removes any ban on an account.
unban: 60

// Send a specified character in jail.
// The map is hardboded in and irrelevant for TMW content.
jail: 60

// To discharge a prisoner.
// The map is hardboded in and irrelevant for TMW content.
unjail: 60

// Drop a players possessions on the ground.
chardropall: 60

// Put a players possessions in storage.
charstoreall: 60

// Iterate over all characters connected to the map server forward.
hugo: 60

// Iterate over all characters connected to the map server backwards.
linus: 60

//----------------------
// 80: "eA Dev"

// Sets magic properties on a character.
setmagic: 80

// Lists magic properties on a character.
magicinfo: 80

// Sets the option bits of the invoker, specifically the opt1, opt2, and option variables. opt3 may not be set using this command.
// Do not use this command unless you are familiar enough with the code base to know exactly what it does.
option: 80

// Gives you money of the desired amount.
zeny: 80

// Changes another character's amount of money.
charzeny: 80

// As with @option, but on a specified character.
charoption: 80

// Create a static warp portal that lasts until the next reboot.
addwarp: 80

// Set the map you are on to day.
// Irrelevant to TMW
day: 80

// Kills everyone on the server.
doom: 80

// Kills everyone on the map you are on.
doommap: 80

// Set the map you are currently on to night.
// Irrelevant to TMW
night: 80

// Recalls everyone to your coordinates.
recallall: 80

// Revives all players on the map.
raisemap: 80

// Revives all players on the server.
raise: 80

// Enables a NPC.
enablenpc: 80

// Disables a NPC.
disablenpc: 80

// Moves a NPC.
npcmove: 80

// Turn skills on for a map.
skillon: 80

// Turn skills off for a map.
skilloff: 80

// Lose a "quest skill"
lostskill: 80

// Find ID of an item by name.
idsearch: 80

// Creates an item of your choosing, either Item ID or Name.
item: 80

// Creates weapon of desired element.
produce: 80

// Check if all your items are in the item_db
itemcheck: 80


//---------------------------
// 99: "Admin"

// Drop all of the invokers items on the ground.
dropall: 99

// Enables GvG on a map (2 same commands).
gvgon: 99
gpvpon: 99

// Turns GvG off on a map (2 same commands).
gvgoff: 99
gpvpoff: 99

// Enables skills.
questskill: 99

// Display your ignore list, people from which you ignore whispers.
// Not used by TMW, which has client-side ignore lists
ignorelist: 99

// Display ignore list of a player, people from which you ignore whispers.
// Not used by TMW, which has client-side ignore lists
charignorelist: 99

// Brings up your guild storage wherever you are.
gstorage: 99

// Do some visual effect on your character.
effect: 99

// Changes character's model.
charmodel: 99

// Starts Guild Wars.
agitstart: 99

// Ends Guild Wars.
agitend: 99

// Levels your guild to specified level.
guildlvl: 99

// Create a guild.
guild: 99

// Create a party.
party: 99

// Warps all online character of a guild to you, at least one member of that guild must be on.
guildrecall: 99

// Warps all online character of a party to you, at least one party member must be online.
partyrecall: 99

// Allows you to spy on any Guilds Guild chat, at least one member of that guild must be on.
guildspy: 99

//Allows you to spy on any party's party chat, at least one party member must be online.
partyspy: 99

// Saves a warp point.
memo: 99

// To get a peco to (un)ride for another player.
charmountpeco: 99

// Change your appearence to other players to a mob.
disguise: 99

// Restore your normal appearence.
undisguise: 99

// To change disguise of another player/GM.
chardisguise: 99
charundisguise: 99

// Display all items of a player. (Disabled)
charitemlist: 99

// Display all items of a player's storage. (Disabled)
charstoragelist: 99

// Display all items of a player's cart. (Disabled)
charcartlist: 99

// Enables platinum skills of another player.
charquestskill: 99

// Enables lost skills of another player.
charlostskill: 99

// Changes your apperance.
model: 99

// Ride or unride a peco
// Irrelevant to TMW
mountpeco: 99

// Broadcast, with or without name.
kami: 99
kamib: 99

// Disconnect all users from the server.
kickall: 99

// Closes map-server.
mapexit: 99

// Give information about the area.
gat: 99

// Enables debugging. Broken and may crash the server.
packet: 99

// Shows information about the map.
mapinfo: 99

// Re-load item database.
reloaditemdb: 99

// Re-load monsters database.
reloadmobdb: 99

// Re-load skills database.
reloadskilldb: 99

// Re-load scripts.
reloadscript: 99

// Re-load GM level.
reloadgmdb: 99

// Brings up your personal storage wherever you are.
storage: 99
