// Local config for battle conf.

// Display monster skill errors in console? (for debug only)
monster_skill_log: off

// Display battle log? (for debug only)
battle_log: off

// Display save log? (for debug only)
save_log: off

// Display errors? (for debug only)
error_log: off

// Display other stuff? (for debug only)
etc_log: off
