// eAthena Map-Server local Configuration File

// Interserver communication passwords, set in account.txt (or equiv.)
userid: s1
passwd: p1

// Character Server IP
char_ip: 127.0.0.1
// Character Server Port
char_port: 6122

// Map Server IP
map_ip: 127.0.0.1
// Map Server Port
map_port: 5122

// Log of map actions, disabled by default because this is huge.
//log_file: log/map.log
