// in this file you can overwrite anything from permissions.txt


// Template for test server:
//CMD_ZENY                0
//CMD_DEBUG               0
//CMD_CHANGESEX           0
//CMD_CLASS               0
//CMD_WARP                0
//MAP_LOUNGE              0
//DBG_VALIA               0
